body,h1,h2,h3,ul,li{
    margin: 5;
    padding: 5;
}
h1{
    color:rgb(0,75,33);
}
body{
    background-color: rgb(138,171,156);
}
body{
    font-family: 'Courier New', Courier, Monoscope;
}